
<div class="search-area">
    <mat-form-field class="search-input">
        <mat-label>Search song..</mat-label>
        <input placeholder="Search by typing song name or album.." matInput [(ngModel)]="searchKey"/>
    </mat-form-field>
    <button class="search-button" mat-raised-button (click)="searchAdvanced()">Search</button>
</div>

<div *ngIf="isSearchResults" class="clear-search-area">
    <div>Showing search results for '{{searchKey}}'... </div>
    <button mat-raised-button (click)="clearSearch()">Clear Search</button>
</div>

<!-- <div>
<mat-spinner></mat-spinner>
</div> -->

<app-song class="song-card" *ngFor="let song of songs" [song]="song"></app-song>

<mat-paginator [length]="songCount"
              [pageSize]="pageSize"
              [pageSizeOptions]="[10, 25, 100]"
              (page)="pageEvent($event)">
</mat-paginator>



