
<mat-card class="playlist-card" (click)="goToPlaylist(playlist.id)">
    <mat-card-header>
        <mat-card-title>{{playlist.name}}</mat-card-title>
        <mat-card-subtitle>{{playlist.createdAt | date:'medium'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="card-content">
          <div>
            Songs: {{playlist.songs.length}}
          </div>
          <span><button mat-icon-button (click)="deletePlayist($event, playlist.id)"><mat-icon>close</mat-icon></button></span>
        </div>
        
      </mat-card-content>
</mat-card>