<mat-card class="song-card">
    <mat-card-header>
        <div mat-card-avatar class="header-image" [style.background-image]="'url(' + song.thumbNail + ')'"></div>
        <mat-card-title>{{song.name}}</mat-card-title>
        <mat-card-subtitle>{{song.albumName}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="card-content">
          <div>
            Singers: {{song.singers}}
            Yooyy {{removable}}
          </div>
          <span *ngIf="removable">
            <button mat-icon-button (click)="deleteSong($event, song.id)">
              <mat-icon>close</mat-icon>
            </button>
          </span>  
        </div>
       </mat-card-content>
</mat-card>