.search-form{
    display: flex;
    justify-content: space-between;
}

.search-area{
    display: flex;
    width: 320px;
    justify-content: space-between;
}

.search-button{
    height: 40px;
}

.song-card{
    display: block;
    margin: 8px 0px;
}

.back-section{
    display: flex;
    justify-content: flex-end;
}

.shuffle-button{
    height: 40px;
}